@media(orientation:landscape)
{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#header{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 1.5vw;
    height: 3vh;
    position: relative;
    top: 6.5vh;
    left: 2.5vw;
}
#header p{
    color: black;
    font-size: 2.8vh;
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    font-weight: 600;
    width: 9vw;
    position: relative;
    left: 4.5vw;
    top: 3vh;
    margin-right: 0 !important;
}
#searchbar{
    width:50vw;
   height: 7vh;
    font-size:16px;
    outline: none;
    border-radius:30px;
    border:1px solid #dcdcdc;
    text-align: center;
    align-self: center;
    margin: 0;
    position: relative;
    right: 11vw;
    bottom: 2vh;
  }
  #searchbar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  #searchicon-symbol{
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
    top: 7vh;
    left: 15vw;
  }
  #searchbar-icon-container{
    width: 5vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    position: absolute;
    top: 5vh;
    left: 58vw;
  }
  .searchbar-icon{
    width: 1.3vw;
    height: 1.3vw; 
  }
  #list-menu-li{
    width: 40vw;
    display: inline-flex;
    column-gap: 3vw;
    position: relative;
    left: 18vw; 
    list-style: none;
  }
#list-menu-li li a{
    text-decoration: none;
    color: black;
    font-size: 2vh;
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
}
#list-menu{
    display: none;
}
#list-menu-li li a:hover{
    text-decoration: underline;
    box-shadow: 1px 1px 8px 1px #0a0a0a;
}
#top-right{
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    position: absolute;
    right: 4vw;
    top: 4vh;
}
#header button{
    background-color: #dcdcdc;
    font-size: 2.5vh;
    width: 5vw;
    height: 5vh;
}
#menu-num{
    color: black;
    font-size: 3vh;
    text-decoration: none;
}
.right-img1{
    width: 3vw;
    height: 5vh;
}
#promoted{
    display: none;
}
#web-site{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50vw;
    height: auto;
    left: 15vw;
    bottom: 14vh;
}
 #web-site div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vh;
    width: 30vw;
    height: 20vh;
}
.google-logo{
    width: 4vh;
    height: 4vh;
}
.site-headline{
    color: black;
    font-size: 2vh;
    position: relative;
    left: 2.5vw;
    bottom: 4.5vh;
}
.site-sub-head{
    color: dimgray;
    position: relative;
    left: 2.5vw;
    bottom: 5vh;
}
.site-link{
    color:#600090;
    font-size: 3vh;
    font-weight: 500;
    font-family: sans-serif;
    text-decoration: none;
    position: absolute;
    margin-top: 1vh;
}
.site-link:hover{
    text-decoration: underline;
}
.site-decription{
    width: 35vw;
    font-size: 2.2vh;
    font-weight: 500;
    position: relative;
    margin: 0;
    top: 2vh;
}
.img-gif{
    width: 10vw;
    height: 10vh;
    position: absolute;
    right: 15vw;
    margin-bottom: 7.5vh;
}
#next-page-scroll-list{
    width: 30vw;
    height: 5vh;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    left: 12vw;
    bottom: 10vh;
}
 #next-page-scroll-list li{
    display: inline-block;
    list-style: none;
} 
 #next-page-scroll-list li a{
    text-decoration: none;
    color: grey;
    font-size: 4vh;
    padding-left: 3vw;
} 
#next-page-scroll-list li a:hover{
    text-decoration: underline;
    color: black;
}
#right-side{
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2vw;
    top: 25.5vh;
    border: 1px solid gray;
}
#google-add-logo{
    width: 30vw;
    height: 20vh;
    background-color: rgb(218, 134, 24);
    display: flex;
    flex-direction: column;
}
.google-add-letter{
    text-decoration: none;
    font-weight: 800;
    color: white;
    font-size: 4.5vh;
    padding-left: 2.5vw;
    margin-top: 3vh;
}
.american-add-letter{
    text-decoration: none;
    font-weight: 800;
    font-size: 2vh;
    color: white;
    padding-left: 2vw;
}
#google-add-logo img{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    right: 0vw;
}
#google-add-logo img:hover{
    scale: 1.2;
}
#google-wiki{
    width: 30vw;
    height: 18vh;
    font-size: 2.5vh;
    padding: 1vw;
}
#google-wiki a{
    text-decoration: none;
    font-size: 2.5vh;
    color: black;
}
#google-wiki a:hover{
    color: #600090;
}
#social-media{
    width: 30vw;
    height: 10vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
}
#social-media img{
    width: 3vw;
    height: 6vh;
    position: relative;
}
#sign-in{
    width: 30vw;
    height: 10vh;
}
.sign-wikipe{
    width: 10vw;
    height: 5vh;
    border: 1px solid saddlebrown;
    border-radius: 30px;
    text-align: center;
    position: relative;
    left: 3vw;
    top: 2vh;
}
.sign-wikipe a{
    color:  rgb(218, 134, 24);
    text-decoration: none;
    font-size: 3vh;
    position: relative;
    top: 0.5vh;
}
.sign-wikipe a:hover{
    text-decoration: underline;
    color: #600090;
   
}
.sign-in{
    width: 10vw;
    height: 5vh;
    border: 1px solid  rgb(218, 134, 24);
    border-radius: 30px;
    text-align: center;
    position: relative;
    left: 17vw;
    bottom: 2.8vh;
}
.sign-in a{
    color:  rgb(218, 134, 24);
    text-decoration: none;
    font-size: 3vh;
    position: relative;
    top: 0.5vh;
}
.sign-in a:hover{
    text-decoration: underline;
    color: #600090;
}
#google-earth{
    width: 30vw;
    height: 10vh;
}
#google-earth p{
    font-size: 3vh;
    margin-left: 1vw;
}
#google-earth img{
    width: 2.5vw;
    height: 5vh;
    position: relative;
    left: 1.5vw;
    top: 0.5vh;
}
#google-earth a{
    display: block;
    text-decoration: none;
    position: relative;
    bottom: 4.9vh;
    left: 4vw;
    font-size: 2vh;
    color: black;
}
#google-history{
    width: 30vw;
    height: 28vh;
    font-size: 2.5vh;
    padding: 2.5%;
}
#google-history p a{
    text-decoration: none;
    color: rgb(218, 134, 24) ;
}
#google-history p a:hover{
    text-decoration: underline;
    color: #600090;
}
#google-tech{
    width: 30vw;
    height: 15vh;
    font-size: 2.5vh;
    padding: 2.5%;
}
#google-tech a{
    text-decoration: none;
    color: black;
}
#google-tech a:hover{
    text-decoration: underline;
    color: #600090;
}
#google-spell{
    width: 30vw;
    height: 15vh;
    font-size: 2.5vh;
    padding: 3%;
}
#google-spell a{
    text-decoration: none;
    color: black;
}
#google-spell a:hover{
    text-decoration: underline;
    color: #600090;
}
#footer{
    width: 100vw;
    height: 8vh;
    background-color: rgb(221, 216, 216);
    display: inline-flex;
    align-items: center;
}
#footer p{
    position: relative;
    left: 10vw;
    font-size: 2.5vh;
    margin-left: 5vw;
}

}