*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#header{
    width: 100vw;
    height: 18vh;
     /* background-color: cadetblue; */
}
.logo{
    width: 1.5vw;
    height: 3vh;
    position: relative;
    top: 4.5vh;
    left: 2vw;
}
#header p{
    color: black;
    font-size: 2ch;
    position: relative;
    left: 3.8vw;
    top: 1vh;
    font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif;
    font-weight: 600;
}
.searchbar{
    width:50vw;
    height: 7vh;
    font-size:16px;
    outline: none;
    border-radius:30px;
    border:1px solid #dcdcdc;
    text-align: center;
    position: relative;
    left: 13vw;
    bottom: 4vh;
  }
  .searchbar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .searchbar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  #list-menu li{
    display: inline-block;
    list-style: none;
    position: relative;
    left: 13vw;
    bottom: 1.5vh;
    margin-left: 2.5vw;

}
#list-menu li a{
    text-decoration: none;
    color: black;
    font-size: 1.5ch;
    /* font-family: "Segoe UI",Segoe,Tahoma,Arial,Verdana,sans-serif; */
}
#list-menu li a:hover{
    text-decoration: underline;
    box-shadow: 1px 1px 8px 1px #0a0a0a;
}
#header button{
    background-color: #dcdcdc;
    width: 5vw;
    height: 5vh;
    position: relative;
    left: 80vw;
    bottom: 13vh;
}
.menu-num a{
    color: black;
    font-size: 2ch;
    text-decoration: none;
    position: relative;
    left: 83vw;
    bottom: 19vh;
}
.right-img1 img{
    width: 3vw;
    height: 5vh;
    position: relative;
    left: 85vw;
    bottom: 23vh;
}
.right-img2 img{
    width: 3vw;
    height: 5vh;
    position: relative;
    left: 90vw;
    bottom: 29vh;
}
#site-links{
    width: 80vw;
    height: 80vh;
    background-color: rgb(211, 201, 201);
    position: relative;
    right: 43vw;
    top: 24vh;
    border: 1px solid rgb(151, 144, 144);
    border-radius:10px;
}
#site-links img:nth-of-type(1){
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 3vh;
    left: 2vw;
}
#site-links p:nth-of-type(1){
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
    position: relative;
    left: 4.5vw;
    bottom: 2.5vh;
}
#site-links a:nth-of-type(1){
    color: dimgrey;
    text-decoration: none;
    position: relative;
    left: 4.5vw;
   bottom: 3.5vh;
}
#site-links a:nth-of-type(2){
    color:#600090;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: sans-serif;
    position: relative;
    top: 4vh;
    right: 12vw;
    text-decoration: none;
}
#site-links a:nth-of-type(2):hover{
    text-decoration: underline;
}
#site-links p:nth-of-type(2){
    font-size: 0.9rem;
    font-weight: 300;
    position: relative;
    top: 5vh;
    left: 2vw;  
}
/* end */
#site-links img:nth-of-type(2){
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 11vh;
    left: 2vw;
}
#site-links p:nth-of-type(3){
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
    position: relative;
    left: 4.5vw;
    top: 5vh;
}
#site-links a:nth-of-type(3){
    color: dimgrey;
    text-decoration: none;
    position: relative;
    left: 4.5vw;
    top: 4vh;
}
#site-links a:nth-of-type(4){
    color:#600090;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: sans-serif;
    position: relative;
    top: 10vh;
    right: 19vw;
    text-decoration: none;
}
#site-links a:nth-of-type(4):hover{
    text-decoration: underline;
}
#site-links p:nth-of-type(4){
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    top: 10vh;
    left: 2vw;  
}
#site-links img:nth-of-type(3){
    width: 10vw;
    height: 10vh;
    position: relative;
    left: 33vw;
}
/* end */
#site-links img:nth-of-type(4){
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 11vh;
    right: 8.5vw;
}
#site-links p:nth-of-type(5){
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
    position: relative;
    left: 4.5vw;
    top: 5vh;
}
#site-links a:nth-of-type(5){
    color: dimgrey;
    text-decoration: none;
    position: relative;
    left: 4.5vw;
    top: 4vh;
}
#site-links a:nth-of-type(6){
    color:#600090;
    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    position: relative;
    top: 10vh;
    right: 18vw;
    text-decoration: none;
    padding: 2vw;
}
#site-links a:nth-of-type(6):hover{
    text-decoration: underline;
}
#site-links p:nth-of-type(6){
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    top: 10vh;
    left: 2vw;  
}
